<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiesuan_BTzailai_WZDFK.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,2},{342,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,130}}</string>
                <key>sourceSize</key>
                <string>{342,130}</string>
            </dict>
            <key>jiesuan_guanbi01_WZDFK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,70},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>jiesuan_home_WZDFK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1033,2},{148,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,130}}</string>
                <key>sourceSize</key>
                <string>{148,130}</string>
            </dict>
            <key>jiesuan_top_WZDFK.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{685,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,140}}</string>
                <key>sourceSize</key>
                <string>{685,140}</string>
            </dict>
            <key>jiesuan_topdefen_WZDFK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,2},{278,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,66}}</string>
                <key>sourceSize</key>
                <string>{278,66}</string>
            </dict>
            <key>jiesuan_txinjilu_WZDFK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,70},{194,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,40}}</string>
                <key>sourceSize</key>
                <string>{194,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiesuan_WZDFK.png</string>
            <key>size</key>
            <string>{1463,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1c0a9b970fa700acdc6eb66de8588df:d30fea5ed0c62e072fe771051060db01:9ff609f3338fcad7e098b29b98be0a31$</string>
            <key>textureFileName</key>
            <string>jiesuan_WZDFK.png</string>
        </dict>
    </dict>
</plist>
