<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiesuan_BTjianglix2_WZDFK_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,166},{143,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,86}}</string>
                <key>sourceSize</key>
                <string>{143,86}</string>
            </dict>
            <key>jiesuan_BTzailai_WZDFK_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,2},{342,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,130}}</string>
                <key>sourceSize</key>
                <string>{342,130}</string>
            </dict>
            <key>jiesuan_jingling02_WZDFK_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,110},{447,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{447,54}}</string>
                <key>sourceSize</key>
                <string>{447,54}</string>
            </dict>
            <key>jiesuan_qinghua_WZDFK_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,134},{269,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,110}}</string>
                <key>sourceSize</key>
                <string>{269,110}</string>
            </dict>
            <key>jiesuan_topdefen_WZDFK_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,2},{277,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,59}}</string>
                <key>sourceSize</key>
                <string>{277,59}</string>
            </dict>
            <key>jiesuan_txinjilu_WZDFK_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,63},{194,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,40}}</string>
                <key>sourceSize</key>
                <string>{194,40}</string>
            </dict>
            <key>kaishi_baoxiang03_WZDFK_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,134},{178,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,118}}</string>
                <key>sourceSize</key>
                <string>{178,118}</string>
            </dict>
            <key>kaishi_kaishi01_WZDFK_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{448,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,135}}</string>
                <key>sourceSize</key>
                <string>{448,135}</string>
            </dict>
            <key>kaishi_pifu01_WZDFK_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,139},{200,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,114}}</string>
                <key>sourceSize</key>
                <string>{200,114}</string>
            </dict>
            <key>kaishi_qianghua01_WZDFK_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,139},{200,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,114}}</string>
                <key>sourceSize</key>
                <string>{200,114}</string>
            </dict>
            <key>kaishi_queding01_WZDFK_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,2},{292,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,106}}</string>
                <key>sourceSize</key>
                <string>{292,106}</string>
            </dict>
            <key>lobby_fuhuokuang_WZDZK_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{351,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,167}}</string>
                <key>sourceSize</key>
                <string>{351,167}</string>
            </dict>
            <key>lobby_quxiao_WZDZK_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,166},{156,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,67}}</string>
                <key>sourceSize</key>
                <string>{156,67}</string>
            </dict>
            <key>qianghua_mianfei_WZDFK_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,166},{152,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,57}}</string>
                <key>sourceSize</key>
                <string>{152,57}</string>
            </dict>
            <key>queren_fanhui_WZDFK_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,171},{200,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,75}}</string>
                <key>sourceSize</key>
                <string>{200,75}</string>
            </dict>
            <key>quxiao_fanhui_WZDFK_en.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{200,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,75}}</string>
                <key>sourceSize</key>
                <string>{200,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>languageEnglish_WZDFK.png</string>
            <key>size</key>
            <string>{1735,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:321a7d6f568b851b8268f539c2902e77:d05dafc760c8b8d38d812d12b1737cb7:647604489d5c5a81626188ecde1ac02c$</string>
            <key>textureFileName</key>
            <string>languageEnglish_WZDFK.png</string>
        </dict>
    </dict>
</plist>
