<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby_BGsudu_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,250},{150,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,54}}</string>
                <key>sourceSize</key>
                <string>{150,54}</string>
            </dict>
            <key>lobby_BGweili_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,142},{150,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,54}}</string>
                <key>sourceSize</key>
                <string>{150,54}</string>
            </dict>
            <key>lobby_BGzuigaofenshu_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,2},{254,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,46}}</string>
                <key>sourceSize</key>
                <string>{254,46}</string>
            </dict>
            <key>lobby_fanhui_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,364},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>lobby_feiji01_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,50},{135,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,108}}</string>
                <key>sourceSize</key>
                <string>{135,108}</string>
            </dict>
            <key>lobby_feijiyinzi01_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,2},{167,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,138}}</string>
                <key>sourceSize</key>
                <string>{167,138}</string>
            </dict>
            <key>lobby_fuhuokuang02_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{435,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,435}}</string>
                <key>sourceSize</key>
                <string>{435,435}</string>
            </dict>
            <key>lobby_fuhuokuang03_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,2},{394,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,394}}</string>
                <key>sourceSize</key>
                <string>{394,394}</string>
            </dict>
            <key>lobby_fuhuokuang_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,2},{274,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,195}}</string>
                <key>sourceSize</key>
                <string>{274,195}</string>
            </dict>
            <key>lobby_jixuyouxi_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,199},{163,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,163}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>lobby_quxiao_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,181},{156,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,67}}</string>
                <key>sourceSize</key>
                <string>{156,67}</string>
            </dict>
            <key>lobby_shenying01_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,364},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>lobby_shenying02_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,328},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>lobby_shuliang02_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,50},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>lobby_shuliang_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,332},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>lobby_sudu02_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,160},{127,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,127}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>lobby_sudu_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,306},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>lobby_weili02_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,198},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>lobby_weili_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,306},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>lobby_wudi02_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,199},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>lobby_wudi_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,289},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>lobby_zanting_WZDZK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,332},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby_WZDZK.png</string>
            <key>size</key>
            <string>{1550,439}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a7264a0a5eab841773a26b11c2c6ff3:1a453af4e02a52beedfea40f1add1d4c:d6394add58f5ef9217cdc1696f48b070$</string>
            <key>textureFileName</key>
            <string>lobby_WZDZK.png</string>
        </dict>
    </dict>
</plist>
